<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Seminarni_prace</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skupiny">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rozzaření do skupin
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="karty">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Otočné karty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kviz">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kvíz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Časová osa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prirazovacka">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Přirazovačka
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Serazovacka">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Seřazovačka
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
