@page "/"

<PageTitle>Home</PageTitle>

<h1>Semestrální práce, sada drobných výukových aktivit  </h1>

<p>
    Jste vítáni v sadě výukových aktivit vytvořených s využitím frameworku Blazor. Tato sada aktivit je navržena tak, aby vám pomohla zábavnou a interaktivní formou se seznámit s různými koncepty programování.

    Aktivita se skládá z ... (uveďte počet) částí, které vás provedou ... (uveďte, co se uživatel naučí). Každá část obsahuje ... (uveďte, co každá část obsahuje, např. pokyny, úkoly, příklady).

    Než začnete, ujistěte se, že ... (uveďte požadavky, např. máte nainstalovaný .NET a Visual Studio).

    Po dokončení všech aktivit budete ... (uveďte, co se uživatel naučí).

    Přejeme vám příjemné učení a zábavu
</p>
