@page "/karty"

<!DOCTYPE html>
<html>
<head>
</head>
<script>
    //Script zajištující otáčení karet na kliknutí
    function toggleClass(element) {
        element.classList.toggle("active");
    }
</script>
<body>
    <div>
        <h3>Otáčecí karty</h3>
        <p>Pokud kliknete na kartičku myší, zobrazí se správná odpověď</p>
        @*Editace*@
        @if (IsEditMode)
        {
            <div>
                <label>
                    Zadejte otázku
                    <input type="text" @bind-value="Question" class="form-control" />
                </label>

                <label>
                    Zadejte odpověď
                    <input type="text" @bind-value="Answer" class="form-control" />
                </label>

                <button @onclick="AddToKartys" class="btn btn-primary mt-2">Přidej</button>
            </div>
        }
        <div class="row mt-4">
            @*Vypsání karet z listu*@
            @foreach (var item in Kartys)
            {
                <div class="col-sm-4 mb-4">
                    @if (IsEditMode)
                    {
                        <button @onclick="()=>Smazat(item)" class="btn btn-danger mb-2">
                            Smazat
                        </button>
                    }
                    <div class="flip-card" onclick="toggleClass(this)">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h1>@item.Otazka</h1>
                            </div>
                            <div class="flip-card-back">
                                <h1>@item.UrciteSlovo</h1>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <button @onclick="ToggleEditMode" class="btn btn-primary mt-2">@((IsEditMode) ? "Ukončit úpravy" : "Přidání otázek")</button>
    </div>

    
</body>
</html>

@code {
   
}

