@page "/Serazovacka"
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
<h3>Serazovacka</h3>
@foreach(var item in Serad)
{
    <button id="@item.Rok" draggable="true" ondragstart="drag(event)">@item.UrciteSlovo</button>
}
<div style="margin-top: 20px;" class="box" ondrop="drop(event)" ondragover="allowDrop(event)">
</div>
@code {

}
